* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(images/cookingchief.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar {
    width: 1200px;
    height: 80px;
    margin: auto;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.icon {
    margin-top: 25px;
    border-radius: 10%;
}

.menu {
    width: 400px;
    float: left;
    height: 70px;
}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 120px;
    margin-top: 45px;
    font-size: 21px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: #ff0000;
}

.search {
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch {
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ffffff;
    margin-top: 40px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn {
    width: 100px;
    height: 40px;
    background: #ff2c2c00;
    border: 2px solid #ffffff;
    margin-top: 40px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}

.btn:hover {
    color: #000;
}

.btn:focus {
    outline: none;
}

.srch:focus {
    outline: none;
}

.content {
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}


.content .par {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1 {
    font-family: 'Times New Roman';
    font-size: 70px;
    padding-left: 20px;
    margin-top: 15%;
    letter-spacing: 2px;
}

.content .cn {
    width: 160px;
    height: 40px;
    background: #ffffff;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;

}

.content .cn a {
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover {
    background-color: #fff;
}

.content span {
    color: #ffffff;
    font-size: 65px
}


::placeholder {
    color: #fff;
    font-family: Arial;
}

.btnn {
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.btnn:hover {
    background: #fff;
    color: #ff7200;
}

.btnn a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.form .link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a {
    text-decoration: none;
    color: #ff7200;
}

.liw {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.icons a {
    text-decoration: none;
    color: #fff;
}

.icons ion-icon {
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}

.icons ion-icon:hover {
    color: #ff7200;
}

.horizontal {
    width: 96%;
    margin-top: 6%;
    margin-left: 2%;
    margin-right: 2%;
    background-position: center;
    background-size: cover;
    border-radius: 20%;
}


::-webkit-scrollbar {
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb {
    background: #5c5c5c;
    border-radius: 25px;
}


::-webkit-scrollbar-thumb:hover {
    background: #fd2a1b;
}

.container {

    min-height: 80vh;
    display: flex;
    background: #e3f2fd6c;
    margin-left: 300px;

    display: flex;
    gap: 12px;
    max-width: 800px;
    width: 100%;
    background: #4070f400;
    border-radius: 12px;
    padding: 10px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-padding: 5px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);


}

.container .card {

    width: 300px;
    height: 600px;
    margin-right: 20px;
    background-color: #f2f2f291;
    border: 1px solid #cccccc7a;


    margin-top: 60px;
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
    background: #ffffffc9;
    scroll-snap-align: start;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.card .image {
    height: 300px;
    width: 600px;
    padding: 5px;
    background: #ff0000;
    border-radius: 5%;
}

.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
    border: 5px solid #fff;
}

.card h2 {
    margin-top: 25px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
}

.card p {
    margin-top: 4px;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    text-align: justify;
}


footer {
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 10px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4 ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 10px 10px;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.feedback {

    margin: 60px auto;
    max-width: 600px;
    text-align: center;
}

.feedback h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #fff;
}

.feedback form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.feedback label {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
}

.feedback input,
.feedback textarea {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
    border: none;
}

.feedback input:focus,
.feedback textarea:focus {
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.feedback button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.feedback button:hover {
    background-color: #3e8e41;
}

.feedback button:active {
    transform: translateY(2px);
}

.feedback button:focus {
    outline: none;
}